{% extends 'quiz/base.html' %}

{% block title %}
	Contact Us
{% endblock title%}

{% block content %}
	
	<div class="row">

		<div class="col-4">
		</div>
		<div class="col-4 border p-3 m-5 rounded border-3">
			<div>
				<h3> Contact Me </h3>
			</div>
			<br>
			<div>
				<table>
					<tr>
						<th><i class="fa-solid fa-phone"></i></th>
						<td><span class="ms-3"> +1 980-319-4197 </span></td>
					</tr>
					<tr>
						<th><i class="fa-solid fa-envelope"></i></th>
						<td><span class="ms-3"> viditsethi13@gmail.com </span></td>
					</tr>
					<tr>
						<th><i class="fa-solid fa-location-dot"></i></th>
						<td><span class="ms-3"> 600 Mary Alexander Place Charlotte, NC </span></td>
					</tr>
				</table>
			</div>
			<div class="mt-5 mb-3">
				<center>
					<a href="https://github.com/viditsethi13"> <i class="fa-brands fa-github"></i></a>
					<a href="https://www.linkedin.com/in/vidit-sethi/"> <i class="fa-brands fa-linkedin ms-5 me-5"></i></a>
					<a href="https://www.instagram.com/viditsethi13/"> <i class="fa-brands fa-instagram"></i></a>
				</center>
			</div>
		</div>
		<div class="col-4">
		</div>
	</div>

{% endblock content%}