{% extends 'quiz/base.html' %}

{% block title %}
	{{user.username}}
{% endblock title%}

{% block content %}
    <div class="row m-5">
                        
        <div class="col-md-5 border border-3 rounded p-4">
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <center>
                        <h3> <span> Quiz Topics</span> </h3>
                    </center>
                    <br>
                </div>
                <div class="col-3">	
                </div>
            </div>
        </div>

        <div class="col-md-5 offset-md-2 border border-3 rounded p-4">
            <center>
                <h3 class="mb-4"> <span> All Test Scores</span> </h3>
            </center>
            <table class="table">
                <thead>
                    <th>Date</th>
                    <th>Topic</th>
                    <th>Score</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                    </tr>
                    <tr>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock content%}