{% extends 'quiz/base.html' %}

{% block title %}
	{{user.username}}
{% endblock title%}

{% block content %}
    <div class="row m-5">
                        
        <div class="col-md-5 border border-3 rounded p-4">
            <center>
                <h3> <span> Number of Quiz Taken</span> </h3>
            </center>
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6">
                    
                    <br>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Algorithm</th>
                                <td class="text-end">{{ test_number.algorithm }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Databases</th>
                                <td class="text-end">{{ test_number.database }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Java</th>
                                <td class="text-end">{{ test_number.java }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Python</th>
                                <td class="text-end">{{ test_number.python }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3">	
                </div>
            </div>
        </div>

        <div class="col-md-5 offset-md-2 border border-3 rounded p-4" style="max-height: 330px;">
            <center>
                <h3 class="mb-4"> <span> All Test Scores</span> </h3>
            </center>
            <div style="overflow-y: scroll;max-height: 242px;">
                <table class="table">
                    <thead>
                        <th>Date</th>
                        <th>Topic</th>
                        <th>Score</th>
                    </thead>
                    <tbody>
                        {% for test in test_detail %}
                            <tr>
                                <td>{{ test.date }}</td>
                                <td>{{ test.get_topic_display }}</td>
                                <td>{{ test.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <br>
        <form name="f1" method="GET" action="home" role="form">
            <center>
                <button class="btn btn-primary" role="submit">
                    <b>Home</b>
                </button>
            </center>
        </form>
    </div>
{% endblock content%}