{% extends 'quiz/base.html' %}

{% block title %}
	{{user.username}}
{% endblock title%}

{% block content %}
	
	<div class="row m-5">
			
		<div class="col-md-5 border border-3 rounded p-4">
			<center>
				<h3 class="mb-4"> <span> Stats</span> </h3>
			</center>
			<table class="table">
				<tbody>
					<tr>
					    <th scope="row">Number of Test Taken</th>
					    <td class="text-end">{{ user.no_of_test }}</td>
					    <td class="text-end">N/A</td>
					</tr>
					<tr>
					    <th scope="row">Cumalative Test Score</th>
					    <td class="text-end">{{ user.total_score }}</td>
					    <td class="text-end">N/A</td>
					</tr>
				    <tr>
					    <th scope="row">Last Test Score</th>
					    <td class="text-end">{{ user.t1 }}</td>
					    <td class="text-end">N/A</td>
				  	</tr>
				  	<tr>
				  	    <th scope="row">Last 2 Test Score</th>
				  	    <td class="text-end">{{ user.t2 }}</td>
				  	    <td class="text-end">{{ user.t3 }}</td>
				  	</tr>
				</tbody>
			</table>
		</div>
					
		<div class="col-md-5 offset-md-2 border border-3 rounded p-4">
			<div class="row">
				<div class="col-3">
				</div>
				<div class="col-6">
					<center>
						<h3> <span> Quiz Topics</span> </h3>
					</center>
					<br>
					<form name="f1" method="POST" action="exam" role="form">
					{% csrf_token %}
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="type" id="type" value="database" checked>
						  <label class="form-check-label">
						    Database
						  </label>
					</div>
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="type" id="type" value="algorithm">
					  	<label class="form-check-label">
					    	Algorithms
					  	</label>
					</div>
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="type" id="type" value="java">
					  	<label class="form-check-label">
					    	Java
					  	</label>
					</div>
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="type" id="type" value="python">
					  	<label class="form-check-label">
					    	Python
					  	</label>
					</div>

					<br>
					<br>
					
						<center>
							<button class="btn btn-primary" name="start_test">
								<b>Start Quiz</b>
							</button>
						</center>
					</form>
				</div>
				<div class="col-3">	
				</div>
			</div>
		</div>

	</div>

{% endblock content%}