{% extends 'quiz/base.html' %}

{% block title %}
	Quiz Me Up - Platform to test your Knowledge
{% endblock title%}

{% block content %}
	{% load static %}

	<div class="container mt-2">
	<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
	  <div class="carousel-inner">


	    <div class="carousel-item active">
	      <img id="home-img" style="height: 450px; width: 1100px" src="{% static 'home.jpg' %}" class="d-block" alt="...">
	    </div>
	    <div class="carousel-item">
	      <div class="row">
	      		<div class="col-2">
	      		</div>
	      		<div class="col-8 border p-4 m-3 rounded border-3">
	      			<div>
	      				<h3> About Quiz Me Up </h3>
	      			</div>
	      			<br>
	      			<div>
	      				<p> Jibba Jabber was a doll made by the toy company Ertl in the mid-1990s. The dolls came with various hair colors including red, blue, pink and green. The female version of the doll (called Ms. Jibba Jabber) had a pink body with pink nose and the male version had a black body with yellow nose. The distinguishing property of the Jibba Jabber was the distinct 'choking' or 'strangling' sound (resembling a groan tube) made by the wobbling head when shaken. When Ertl was told about Shaken Baby Syndrome, the company responded, as reported by the US Advisory Board on Child Abuse and Neglect, by "plac[ing] an insert in Jibba Jabber packaging explaining that while Jibba Jabber is for fun, a lethal form of child abuse involves the shaking of babies. The pamphlet lists seven ways to react positively to a child rather than resorting to violence."</p>
	      			</div>
	      			<br>
	      			<div>
	      				<p class="fw-bold"> Developed By Vidit Sethi</p>
	      			</div>
	      		</div>
	      		<div class="col-2">
	      		</div>
	      </div>
	    </div>
	  </div>

	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
	</div>

{% endblock content%}