{% extends 'quiz/base.html' %}

{% block title %}
	Quiz Me Up - Platform to test your Knowledge
{% endblock title%}

{% block content %}
	{% load static %}

	<div class="container mt-2">
	<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
	  <div class="carousel-inner" style="height: 450px; width: 1100px">
	    <div class="carousel-item active">
			<div class="row">
				<div class="col-2">
				</div>
				<div class="col-8 border p-2 m-3 rounded border-3" >
					<img class="rounded" id="home-img" style="width:725px; height:393px;" src="{% static 'home.jpg' %}" class="d-block" alt="...">
				</div>
				<div class="col-2">
				</div>
			</div>
	      
	    </div>
	    <div class="carousel-item">
	      <div class="row">
	      		<div class="col-2">
	      		</div>
	      		<div class="col-8 border p-4 m-3 rounded border-3">
	      			<div>
	      				<h3> About Quiz Me Up </h3>
	      			</div>
	      			<br>
	      			<div>
						<p>
							Quiz Me Up is a platform that will help you brush your concepts on some essential Computer Science topics. It is an MCQ-based quizzing format. 
							The user will have an option to select a topic of his choice. From the pool of questions on the selected topic, the user will get five random questions. The quiz will be over if the user gives a wrong answer or give all five correct answers. The user can check how many tests they have taken on this platform and also see the details of each test taken by them.
							In the next version, the user will be able to compare their performance with all other users using this platform. They will also be able to select the number of questions for each quiz.
						</p>
	      			</div>
	      			<br>
	      			<div>
	      				<p class="fw-bold"> Developed By Vidit Sethi</p>
	      			</div>
	      		</div>
	      		<div class="col-2">
	      		</div>
	      </div>
	    </div>
	  </div>

	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
	</div>

{% endblock content%}